/*
 * Reset and common elements
 */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

html {
    background: white;
    font-size: 14pt;
}

body {
    max-width: 1366px;
    margin: 0 auto;

    background: #f3f0ea;

    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    text-align: center;
    color: #0d6358;
}

.dark h1, .dark h2 {
    color: #feb452;
}

h1, h2 {
    font-size: 42px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.button {
    padding: 0.6em 2em;
    margin: 0.3em 0;
    border: none;
    border-radius: 2em;

    font-size: 1.2em;
    color: #0d6358;
    background: #feb452;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.emphasis {
    margin-top: 1.5em;
    margin-bottom: 0;

    font-size: 1.1em;
    font-weight: bold;
    color: #feb452;
    text-transform: uppercase;
}


/*
 * Carousel component
 */

.carousel {
    max-width: 1280px;
    margin: 0 auto;
}

.carousel .carousel-content {
    /* fixed aspect ratio */
    padding-bottom: 34.375%;
    background: white center;
    background-size: cover;
}

.carousel .carousel-navigation {
    padding: 32px 0;

    text-align: center;
}

.carousel button {
    position: relative;
    width: 16px;
    height: 16px;
    margin: 16px 8px;
    padding: 0;

    border: none;
    background: none;

    cursor: pointer;
}

.carousel .carousel-dot {
    border: 3px solid #0d6358;
    border-radius: 50%;

    transition: background 250ms, border-color 250ms;
}

.carousel .carousel-dot.active {
    background: #feb452;
    border-color: transparent;
}

.carousel .carousel-prev::before,
.carousel .carousel-prev::after,
.carousel .carousel-next::before,
.carousel .carousel-next::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 3px;

    background: #0d6358;
    border-radius: 1.5px;
}

.carousel .carousel-prev::before {
    transform: rotate(45deg);
    transform-origin: top left;
}

.carousel .carousel-prev::after {
    transform: rotate(-45deg);
    transform-origin: bottom left;
}

.carousel .carousel-next::before {
    transform: rotate(45deg);
    transform-origin: bottom right;
}

.carousel .carousel-next::after {
    transform: rotate(-45deg);
    transform-origin: top right;
}


/*
 * Accordion
 */

.accordion {
    max-width: 500px;
    margin: 4px auto;
}

.accordion .accordion-body {
    height: 0;

    background: #f3f0ea;
    transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;

    transition: transform 250ms;
}

.accordion .accordion-body > * {
    padding: 0 1em;
}

.accordion .accordion-body :first-child {
    padding-top: 1em;
}

.accordion .accordion-body :last-child {
    padding-bottom: 1em;
}

.accordion.active .accordion-body {
    transform: scaleY(1);
    height: auto;
}

.accordion .accordion-body :first-child {
    margin-top: 0;
}

.accordion .accordion-body :last-child {
    margin-bottom: 0;
}

.accordion .accordion-title {
    position: relative;
    padding: 1em;

    color: white;
    background: #0d6358;

    cursor: pointer;
}

.accordion.active .accordion-title {
    color: white;
    background: #15a996;
}

.accordion .accordion-title::after {
    content: "V";
    position: absolute;
    right: 4em;

    font-size: 0.5em;

    transform: scaleX(2) translateY(50%);
    transition: transform 250ms;
}

.accordion.active .accordion-title::after {
    transform: translateY(50%) rotate(180deg) scaleX(2);
}


/*
 * Header area
 */

.hero {
    padding: 64px;
    padding-bottom: 70px;
    margin-bottom: 16px;

    background: url("./img/fence.png") bottom no-repeat;
    background-size: cover;
}

.hero h2 {
    text-align: left;
}

.logo {
    float: left;
    width: 40%;
    padding: 0 64px;
    padding-top: 64px;

    text-align: center;
}

.welcome {
    float: left;
    width: 60%;

    padding-left: 32px;
    border: 2px none white;
    border-left-style: solid;

    color: white;
}

.prelude {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.prelude h2 {
    margin-top: 0;

    font-size: 2rem;
}

.prelude p {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

/*
 * Rest of the main section
 */

main {
    overflow: hidden;
}

main ul {
    text-align: center;
    width: 80%;
    margin: 32px auto;
}

main ul li {
    position: relative;
    display: inline-block;
    min-width: 22%;
    padding-left: 1em;

    text-align: left;
    list-style-type: none;
}

main ul li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 4px;
    height: 4px;

    background: #feb452;
    border-radius: 50%;
    transform: translate(50%, -50%);
}

.details {
    position: relative;
    margin-top: 64px;
    padding: 128px 64px;

    /*
        the fill trick is a IE-friendly way of having a solid background
        with the very top having a transparent section, but expanding
        solidly below, up to very acute aspect ratios
    */
    background:
        url("./img/cloudy.png") top no-repeat,
        url("./img/bg-fill-trick.png");
    background-size:
        100% auto,
        100% 100%;
}


/*
 * Contact form
 */

footer {
    background: #0d6358;
    color: white;
}

footer form {
    max-width: 500px;
    margin: 0 auto;
    padding: 32px;
    
    text-align: center;
}

footer form label {
    position: relative;
    display: block;
    padding: 1em;

    text-align: left;
}

.label-content {
    position: absolute;
    top: 0;

    transform: scale(0.8);
    transform-origin: left;
    transition: transform 250ms;
}

footer form label input,
footer form label textarea {
    display: block;
    width: 100%;

    border: none;
    border-bottom: 1px solid currentColor;
    background: none;
    color: inherit;
    font-size: inherit;
    outline: none;
}

textarea {
    font-family: inherit;
}

input:invalid,
input:invalid ~ .label-content,
textarea:invalid ~ .label-content,
textarea:invalid {
    color: #de4f4c;
    outline: none;
    box-shadow: none;
}

.invalid-message {
    color: #de4f4c;
    font-size: 0.8em;
}

input:placeholder-shown:not(:focus) ~ .label-content,
textarea:placeholder-shown:not(:focus) ~ .label-content {
    transform: translateY(0.5em);
}


/*
 * Responsive adaptations
 */

@media screen and (max-width: 1182px) {
    .logo, .welcome {
        width: 50%;
    }
}

@media screen and (max-width: 972px) {
    .hero {
        padding: 32px;
    }

    .logo, .welcome {
        width: 100%;
        float: none;
    }

    .logo {
        padding: 0;
    }

    .welcome {
        border-left-style: none;
        border-top-style: solid;
        padding-left: 0;
        padding-top: 32px;
        padding-bottom: 48px;
    }
}